<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/table.css" />
    <title>Liste des Réservations</title>
  </head>
  <body>
    <header>
      <a href="/">Retour</a>
    </header>

    <div class="tableDiv">
      <h2>Liste des réservations</h2>

      <% if (reservations && reservations.length > 0) { %>
      <table>
        <thead>
          <tr>
            <th>Catway</th>
            <th>Client</th>
            <th>Bateau</th>
            <th>Début</th>
            <th>Fin</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% reservations.forEach(reservation => { %>
          <tr>
            <td>
              <a
                href="/catways/<%= reservation.catwayNumber %>/reservations/<%= reservation._id %>"
                ><%= reservation.catwayNumber %></a
              >
            </td>
            <td><%= reservation.clientName %></td>
            <td><%= reservation.boatName %></td>
            <td><%= reservation.startDate.toLocaleDateString() %></td>
            <td><%= reservation.endDate.toLocaleDateString() %></td>
            <td>
              <form
                method="POST"
                action="/catways/<%= reservation.catwayNumber %>/reservations/<%= reservation._id %>?_method=DELETE"
                style="display: inline"
              >
                <button
                  type="submit"
                  onclick="return confirm('Confirmer la suppression ?')"
                >
                  Supprimer
                </button>
              </form>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <% } else { %>
      <p>Aucune réservation trouvée.</p>
      <% } %>
    </div>

    <form
      class="cardForm"
      method="POST"
      action="/catways/<%= catwayId || 1 %>/reservations"
    >
      <fieldset>
        <legend>Ajouter une Réservation</legend>
        <label for="clientName">Nom du Client :</label>
        <input type="text" id="clientName" name="clientName" required /><br />

        <label for="boatName">Nom du Bateau :</label>
        <input type="text" id="boatName" name="boatName" required /><br />

        <label for="startDate">Date de Début :</label>
        <input type="date" id="startDate" name="startDate" required /><br />

        <label for="endDate">Date de Fin :</label>
        <input type="date" id="endDate" name="endDate" required /><br />

        <input type="submit" value="Ajouter" />
      </fieldset>
    </form>

    <footer>
      <a class="menu" href="/">Accueil</a>
      <a class="menu" href="/catways">Catways</a>
      <a class="menu" href="/reservations">Réservations</a>
      <a class="menu" href="/users">Utilisateurs</a>
    </footer>
  </body>
</html>
