<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/table.css" />
    <title>Liste des Utilisateurs</title>
  </head>
  <body>
    <header>
      <a href="/">Retour</a>
    </header>

    <div class="tableDiv">
      <h2>Liste des utilisateurs</h2>

      <% if (users && users.length > 0) { %>
      <table>
        <thead>
          <tr>
            <th>Nom</th>
            <th>Email</th>
            <th>Password</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% users.forEach(user => { %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.password %></td>
            <td>
              <a href="/users/<%= encodeURIComponent(user.email) %>/edit"
                >Modifier</a
              >
              <form
                method="POST"
                action="/users/<%= user.email %>?_method=DELETE"
                style="display: inline"
              >
                <button
                  type="submit"
                  onclick="return confirm('Confirmer la suppression ?')"
                >
                  Supprimer
                </button>
              </form>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <% } else { %>
      <p>Aucun utilisateur trouvée.</p>
      <% } %>
    </div>

    <form class="cardForm" method="POST" action="/users">
      <fieldset>
        <legend>Ajouter un Utilisateur</legend>
        <label for="name">Nom :</label>
        <input type="text" id="name" name="name" required /><br />

        <label for="email">Email :</label>
        <input type="text" id="email" name="email" required /><br />

        <label for="password">Password :</label>
        <input type="password" id="password" name="password" required /><br />

        <input type="submit" value="Ajouter" />
      </fieldset>
    </form>

    <footer>
      <a class="menu" href="/">Accueil</a>
      <a class="menu" href="/catways">Catways</a>
      <a class="menu" href="/reservations">Réservations</a>
      <a class="menu" href="/users">Utilisateurs</a>
    </footer>
  </body>
</html>
